#race {
  text-align: center;
  background-color: #242021;
  position: relative;
}

.image {
  background-image: url("./img/raceTrack.jpg");
  background-size: contain;
  height: 50vh;
}

h1,
h2,
h3 {
  color: #a2a2a2;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

button {
  border: 2px solid #fff;
  background-color: #242021;
  border-radius: 5px;
  color: #fff;
  margin-left: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.gif1,
.gif2 {
  width: 200px;
  height: 180px;
}

.car1-gif img {
  position: absolute;
  top: 0;
  left: 0;
}
.car2-gif img {
  position: absolute;
  top: 150px;
  left: 0;
}

.car2-gif {
  position: relative;
}
.car1-gif {
  position: relative;
}

.finish {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  display: none;
  z-index: 3;
  width: 200px;
  height: 180px;
}

.hidden {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  font-weight: bold;
}

.one {
  display: none;
  z-index: 1111 !important;
}
.two {
  display: none;
  z-index: 1111 !important;
}
.three {
  display: none;
  z-index: 1111 !important;
}

.car1 {
  color: #ffebf7;
}

.car2 {
  color: #ba0000;
}

.hidden-img {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}
